<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="title">Usuários</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-item *ngFor="let user of listaUsers">
    <ion-avatar slot="start">
      <img [src]="user.avatar">
    </ion-avatar>

    <ion-label>
      <div>
        <h3>{{ user.first_name + " " + user.last_name }}</h3>
	      <p>{{ user.email }}</p>
      </div>
    </ion-label>

    <ion-chip color="light" slot="end">
      <ion-label>{{user.id}}</ion-label>
    </ion-chip>
  </ion-item>
</ion-content>
